.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 2px black;
    margin-top: 10px;
    background-color: black;
  }
  
  .user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(255, 0, 0);
  }
  
  .block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(0, 255, 115);
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }